/*reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*reset*/
html{
    height: 100%;
}
body{
    height: 100%;
    position: relative;
}

/*all*/
a{
    text-decoration: none;
}
.wp{
    width: 1230px;
    margin: 0 auto;
}
.wp-3{
    width: 1190px;
    margin: 0 auto;
}

.float-l{
    float: left;
}
.float-r{
    float: right;
}
.clean{
    clear: both;
}

.red{
	color: #C40000;
}
/*all*/

/*sidebar*/
.sidebar{
    height: 100%;
    width: 35px;
    background: #000;
    position: fixed;
    z-index: 2;
    right: 0;
}

.r-nav-con{
    position: relative;
    left: 0;
    top: 25%;
    width: 35px;
    height: 370px;
}
.r-nav-con>a>div{
    margin-bottom: 10px;
}
.r-nav-ft{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 35px;
    height: 105px;
}
.h-35{
    width: 35px;
    height: 35px;
    transition: background 0.3s;
}
.h-100{
    width: 35px;
    height: 100px;
    margin-bottom: 10px;
    transition: background 0.3s;
}
.r-top{
    visibility: hidden;
}

.r-n-c-1{
    background: url("../img/rn1.jpg");
}
.r-n-c-2{
    background: url("../img/rn2.jpg");
}
.r-n-c-3{
    background: url("../img/rn3.jpg");
}
.r-n-c-4{
    background: url("../img/rn4.jpg");
}
.r-n-c-5{
    background: url("../img/rn5.jpg");
}
.r-n-c-6{
    background: url("../img/rn6.jpg");
}
.r-n-c-7{
    background: url("../img/rn7.jpg");
}

.r-n-f-1{
    background: url("../img/rn8.jpg");
}
.r-n-f-2{
    background: url("../img/rn9.jpg");
}
.r-n-f-3{
    background: url("../img/rn10.jpg");
}

.r-n-c-1:hover{
    background: url("../img/rnh1.jpg");
}
.r-n-c-2:hover{
    background: url("../img/rnh2.jpg");
}
.r-n-c-3:hover{
    background: url("../img/rnh3.jpg");
}
.r-n-c-4:hover{
    background: url("../img/rnh4.jpg");
}
.r-n-c-5:hover{
    background: url("../img/rnh5.jpg");
}
.r-n-c-6:hover{
    background: url("../img/rnh6.jpg");
}
.r-n-c-7:hover{
    background: url("../img/rnh7.jpg");
}

.r-n-f-1:hover{
    background: url("../img/rnh8.jpg");
}
.r-n-f-2:hover{
    background: url("../img/rnh9.jpg");
}
.r-n-f-3:hover{
    background: url("../img/rnh10.jpg");
}
/*sidebar*/



























